@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.input-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.input-field {
    /* width: 100%; */
    padding: 10px 12px;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
}

.input-field:focus {
    border-color: #000;
    /* box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2); */
}

.input-field::placeholder {
    color: #aaa;
}

.input-field::placeholder:focus {
    color: #fff;
}