@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  text-rendering: optimizeLegibility;
}

.form-login-page {
  width: 90vw;
  height: 90vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-login-page .form-container form {
  display: flex;
  flex-direction: column;

  width: 380px;
  border: 1px solid #E8E8E8;
  border-radius: 18px;
  padding: 30px;
}